<ion-header>
  <ion-toolbar >
    <ion-title color="dark"> {{profileDetails.name}} </ion-title>
    <ion-button slot="end" fill="clear">
      <a download target="_blank" href="assets/pdf/Resume.pdf">
        <ion-icon color="dark" size="large" name="download-outline"></ion-icon>
      </a>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-logo">
    <img
      alt="vaishnavi"
      src="https://media.licdn.com/dms/image/D5603AQGrfMW0igAQwA/profile-displayphoto-shrink_200_200/0/1692728882914?e=2147483647&v=beta&t=dNca6V2coK3qacIkTN3AXf5dRTM03mbZUsoI92uItjk"
    />
  </ion-card>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.personalDetails.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-personal-details></app-personal-details>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.contacts.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-contacts></app-contacts>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.education.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-education></app-education>
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.skills.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-skills></app-skills>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.projects.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-projects></app-projects>
      </div>
    </ion-accordion>
    <ion-accordion value="sisth">
      <ion-item slot="header" color="secondary">
        <ion-label>{{profileDetails.languages.heading}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-languages></app-languages>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
