<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
 <p> <b>I am a passionate and dedicated software engineering student eager to embark on a fulfilling career in the tech industry. During my academic journey, I have gained a solid foundation in programming languages such as C,C++, Python and Java. I have also honed my skills in software development methodologies, including Agile and Scrum.
  <br>
  <br>
Apart from technical skills, I possess strong problem-solving abilities and a keen eye for detail, which I believe are essential qualities for a software engineer. I am a quick learner, adaptable to new technologies, and thrive in collaborative environments. 
<br>
<br>
In addition to my academic achievements, I have completed several projects that demonstrate my ability to design, develop, and deploy software solutions. These projects have not only enhanced my technical skills but also equipped me with valuable experience in working with cross-functional teams and meeting project deadlines.
<br>
<br>
I am excited about the opportunity to leverage my skills and knowledge in a professional setting, contribute to innovative projects, and continue learning and growing as a software engineer. </b></p>
<br>
<br>
</ion-content>
