.hide-card {
  -webkit-box-shadow: none !important;
}

.custom-avatar {
  height: 100px;
  width: 100px;
  border: 1px solid #F7EEDD;
  border-radius: 50%;
  display: inline-block;
  margin-left: 90px;
  margin-right: auto;
}

   ion-card {
    --background: var(--ion-color-light-background);
  }
.ion-header{
    background-color: #F7EEDD;
  }
 
 .custom-margin{
  height: 22px;
  width: 22px;
  margin: 23px;

 } 
 