<ion-app>
  <ion-menu contentId="main-content">
    <ion-header class="ion-header">
      <ion-card class="hide-card">
        <img src="assets\icon\IMG_20220619_204149.jpg" class="custom-avatar" />
        <h4 style="text-align: center"><b>Vaishnavi Dhabekar</b></h4>
        <a target="_blank"  *ngFor="let item of linklist" href="{{item.url}}">
          <ion-icon
            name="{{ item.name }}"
            class="custom-margin"
          ></ion-icon
        ></a>
      </ion-card>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- {{menulist|json}} -->
        <ion-item
          *ngFor="let item of menulist"
          (click)="open(item.routerLinkActive)"
        >
          <ion-icon name="{{ item.iconName }}"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page text-center" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
