ion-content { 
    background-image: url("../../../assets/icon/IMG_20211015_203546.jpg"); 
    background-size: cover; 
    background-position: center; 
}

.background{
    --background: url(../../../assets/icon/IMG_20211015_203546.jpg) 0 0/100% 100% no-repeat !important;
}

.center {
    margin-top: 40%;
    color:#008DDA;
  }
