ion-content { 
    background-image: url("../../../assets/icon/IMG_20211015_203546.jpg"); 
    background-size: cover; 
    background-position: center; 
}

ion-content.background{
    --background: url(../../../assets/icon/IMG_20211015_203546.jpg) 0 0/100% 100% no-repeat;
}