<ion-list>
  <ion-item>
    <ion-label
      >{{profileDetails.education.degree.label}}:{{profileDetails.education.degree.value}}</ion-label
    >
  </ion-item>
  <ion-item>
    <ion-label>
      {{profileDetails.education.branch.label}}:{{profileDetails.education.branch.value}}</ion-label
    >
  </ion-item>
  <ion-item>
    <ion-label
      >{{profileDetails.education.university.label}}:{{profileDetails.education.university.value}}</ion-label
    >
  </ion-item>
  <ion-item>
    <ion-label
      >{{profileDetails.education.collage.label}}:{{profileDetails.education.collage.value}}</ion-label
    >
  </ion-item>
</ion-list>